@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --prim: #ffffff;
    --prim-shadow: #c0c0c0;
    --prim-shadow-sec: #d0d0d0;
    --sec: #000000;
}

* {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 100;
}

body {
    background-color: var(--prim);
    color: var(--sec);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body.dark {
    background-color: var(--sec);
    color: var(--prim);
}

h1 {
    font-size: 4vw;
}

.modal {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 0%;
    height: 0%;
    overflow: auto;
    background-color: rgba(0,0,0,0.25);
}

.modal.visible {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.options-card {
    background-color: var(--prim);
    border: 1px solid var(--sec);
    border-radius: 1vmax;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#saved-label,
input,
.options-card input,
.options-card button {
    background-color: var(--prim);
    color: var(--sec);
    font-size: 2vmax;
    text-align: center;
    margin: 0.5vmax;
    padding: 0.5vmax;
    border-radius: 1vmax;
    border: 0px;
    -webkit-box-shadow: 0 4px 0 0 var(--prim-shadow),0 4px 10px 2px var(--prim-shadow-sec);
    box-shadow: 0 4px 0 0 var(--prim-shadow),0 4px 10px 2px var(--prim-shadow-sec);
    transition-duration: 0.1s;
}

#saved-label:hover,
input[type='submit']:hover,
.options-card button:hover {
    -webkit-box-shadow: 0 3px 0 0 var(--prim-shadow),0 3px 7.5px 1.5px var(--prim-shadow-sec);
    box-shadow: 0 3px 0 0 var(--prim-shadow),0 3px 7.5px 1.5px var(--prim-shadow-sec);
    transform: translateY(1px);
}

#saved-label:active,
input[type='submit']:active,
.options-card button:active {
    -webkit-box-shadow: 0 0 0 0 var(--prim-shadow), 0 0 0 0 var(--prim-shadow-sec);
    box-shadow: 0 0 0 0 var(--prim-shadow), 0 0 0 0 var(--prim-shadow-sec);
    transform: translateY(4px);
}

.options-card button.bad {
    background-color: hsla(0,100%,50%,0.5);
    -webkit-box-shadow: 0 4px 0 0 hsla(0,100%,50%,0.5),0 4px 10px 2px hsla(0,100%,50%,0.5);
    box-shadow: 0 4px 0 0 hsla(0,100%,50%,0.5),0 4px 10px 2px hsla(0,100%,50%,0.5);
}

.options-card button.bad:hover {
    -webkit-box-shadow: 0 3px 0 0 hsla(0,100%,50%,0.5),0 3px 7.5px 1.5px hsla(0,100%,50%,0.5);
    box-shadow: 0 3px 0 0 hsla(0,100%,50%,0.5),0 3px 7.5px 1.5px hsla(0,100%,50%,0.5);
    transform: translateY(1px);
}

.options-card button.bad:active {
    -webkit-box-shadow: 0 0 0 0 hsla(0,100%,50%,0.5),0 0 0 0 hsla(0,100%,50%,0.5);
    box-shadow: 0 0 0 0 hsla(0,100%,50%,0.5),0 0 0 0 hsla(0,100%,50%,0.5);
    transform: translateY(4px);
}

.good-flash {
    -webkit-animation-name: good-flash-animation;
    -webkit-animation-duration: 1s;

    animation-name: good-flash-animation;
    animation-duration: 1s;
}

@-webkit-keyframes good-flash-animation {  
    from { 
        background: #00ff40;
        -webkit-box-shadow: 0 2.5px 20px 0 #00CC0D, 0 2.5px 0 0 #00CC0D;
    }
    to   { 
        background: var(--prim); 
        -webkit-box-shadow: 0 2.5px 5px 0 var(--prim-shadow), 0 2.5px 0 0 var(--prim-shadow);
    }
}

@keyframes good-flash-animation {  
    from { 
        background: #00ff40; 
        box-shadow: 0 2.5px 20px 0 #00CC0D, 0 2.5px 0 0 #00CC0D;
    }
    to   { 
        background: var(--prim); 
        box-shadow: 0 2.5px 5px 0 var(--prim-shadow), 0 2.5px 0 0 var(--prim-shadow);
    }
}

.bad-flash {
    -webkit-animation-name: bad-flash-animation;
    -webkit-animation-duration: 1s;

    animation-name: bad-flash-animation;
    animation-duration: 1s;
}

@-webkit-keyframes bad-flash-animation {  
    from { 
        background: #ff2020; 
        -webkit-box-shadow: 0 2.5px 20px 0 #CC0000, 0 2.5px 0 0 #CC0000;
    }
    to   { 
        background: var(--prim); 
        -webkit-box-shadow: 0 2.5px 5px 0 var(--prim-shadow), 0 2.5px 0 0 var(--prim-shadow);
    }
}

@keyframes bad-flash-animation {  
    from { 
        background: #ff2020; 
        box-shadow: 0 2.5px 20px 0 #CC0000, 0 2.5px 0 0 #CC0000;
    }
    to   { 
        background: var(--prim); 
        box-shadow: 0 2.5px 5px 0 var(--prim-shadow), 0 2.5px 0 0 var(--prim-shadow);
    }
}

.flex {
    display: flex;
    align-items: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}